body{
    background-color: wheat;
    font-family: Papyrus; 
}
h1 {
    color: slategrey;
    text-align: center;
    font-size: 50px;
}
h2 {
    color:slategray;
    text-align: left;
    font-size: 40px;
}
h3 {
    color:slategray;
    text-align: left;
    font-size: 35px;
}
li{
    color:slategray;
    text-align: left;
    font-size: 25px;
}
button{
    background-color: wheat;
    display:block;
    margin-left: left;
    margin-right: left;
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
}
/*.rotated{
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
  }*/

li.stickyli{
    font-size: 20px;
    list-style-type: none;
    float:left;
    height: 20px;
    width: 100px;
    text-align: center;
    border-left: 1px dotted;
    border-color: slategray;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
/*element.style{
    display: block;
}*/
div#stickynav{
    width:620px;
    height: 50px;
    padding-left: 0px;
    padding-top: 13px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: right;
}
div#stickylist{
    position:fixed;
    top: 200px;
    width: 100%;
    min-width: 1263px;
    height: 72px;
    background-image:none;
    /*background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;*/
    color: wheat;
    z-index: 9999;

}
/*div#tophead{
    height: 45px;
    width: 419px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin: 0px 30px 0px 0px;
    float: left;
}*/
/**{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}*/
i {
    color:olive;
    text-align: left;
    font-size: 15px;
}
