header{
    background-color: #FDCE2A;
    font-size: 36px;
    width: 600px;
    border: 15px solid yellow;
    padding: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    content: yellow;
}
body
{
    /* background-color: #FEE227; */
    background-color: #FCF4A3;
}

div button
{
    background-color: yellow;
    /* display: inline-block; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin-left: 15%; */
}

#pizzaButton
{
    margin-left: 15%; 
}

#pastaButton
{
    /* display: inline-block; */
    margin-left: 75%;
    /* margin-top: 0%; */
}

.center
{
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
}
