header{
    background-color: #FDCE2A;
    font-size: 36px;
    width: 600px;
    border: 15px solid yellow;
    padding: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    content: yellow;
}
body
{
    /* background-color: #FEE227; */
    background-color: #FCF4A3;
}

.buttons
{

    /* display: inline-block; */
    display: flex;
    justify-content: center;
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin-left: 15%; */
}

#pizzaButton
{
    background-color: yellow;
    margin-right: 100px;
    /* margin-left: 15%;  */
}

#pastaButton
{
    background-color: yellow;
    margin-left: 100px;
    /* display: inline-block; */
    /* margin-left: 75%; */
    /* margin-top: 0%; */
}

.center
{
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
}

#dessertButton
{
    background-color: #FEE227;
}

#home
{
    background-color: #F9C802;
}