/* button {
    background-color: firebrick;
}
#hi {
    color: blue;
}
.yum {
    color:rgb(204, 162, 243);
} */
#intro {
    color:aqua;
}
body {
    cursor: url("./assets/donuts-cursor.cur"), auto;
    text-align: center;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1a4cdf94-a615-48a0-a70e-f1ada95c2372/d79dw4k-59c62b51-41a0-4dbf-a8e6-035572c3475a.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFhNGNkZjk0LWE2MTUtNDhhMC1hNzBlLWYxYWRhOTVjMjM3MlwvZDc5ZHc0ay01OWM2MmI1MS00MWEwLTRkYmYtYThlNi0wMzU1NzJjMzQ3NWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.JfamxyU5Z3uFAhv3hi47iaPjR5BTJOUNOeAvtQoVgLg");
}
img {
    width: 10%;
}
 #map { /* https://developers.google.com/maps/documentation/javascript/adding-a-google-map#map */
    height: 400px;
    width: 100%;
}