*{
	margin: 0;
	padding-top: 0;
	font-family: fantasy;
	background-color: rgb(120, 167, 139);
}

.header {
	margin-top: 5%;
	margin-left: 10%;
    font-size: 10pt;
	font-family: "copperplate", "Papyrus", fantasy;
}

  #animate {
	width: 25px;
	height: 25px;
	position: absolute;
	border-radius: 50%;
	background-color: black;
  }