*{
	margin: 0;
	padding-top: 0;
	font-family: monospace;
	background-color: rgb(120, 167, 139);
}
.logo {
	float: left;
	width: 20%;
	height: 20%;
}
.header {
	position: relative;
	margin-top: 5%;
	margin-left: 10%;
    font-size: 20pt;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.split {
	height: 20%;
	width: 50%;
	position: absolute;
	z-index: 1;
	top: 38%;
	overflow-x: hidden;
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 12pt;
  }
  
  .left {
	left: 0;
  }
  
  .right {
	right: 0;
  }
  
  .centered {
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	line-height: 30px;
	letter-spacing: 3px;
  }
.btn {
	margin-top: 30%;
	margin-right: 5%;
	font-size: 14pt;
	border: none;
	

}
.btn:hover {
	color: white;
}
.punct
{
	background-color:black;
	position:absolute;
	width:10px;
	height:10px;
	border-radius: 50%;
}
