@font-face {
  font-family: NoodleFont;
  src: url("./assets/Noodleshaded-1GKL.woff");
}

body {
  background-color: #f2ce95;
  padding-top: 0px;
  padding-left: 30px;
  cursor: url("./assets/fusilli.png"), wait;
}

div {
  padding: 10px;
}

#ingredients,
#directions {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3em;
}

h1 {
  color: brown;
  font-family: NoodleFont;
  font-size: 5em;
}

h2 {
  color: purple;
  font-family: monospace;
  font-size: 2em;
}

h3 {
  color: #776754;
  font-family: fantasy;
  font-size: 1.5em;
}
