* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 15px;
}

.text-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header {
    height: 40vh;
    background-image: url("../images/paella-background.jpg");
    border-radius: 10px;
    background-size: cover;
    background-position: top;
    position: relative;
}

.text-heading {
    -webkit-text-fill-color: red; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
}

.primary-heading-main {
    display: block;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.size-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

button {
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border: solid;
    border-radius: 10px;
    border-color: red;
    cursor: pointer;
    background: yellow;
}

.heading {
    color: orange;
    font-weight: 700;
}

.ingredient-display {
    color: blue;
}

.ingredient-amount {
    color: red;
}